attrs==23.1.0
Babel==2.13.1
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
csvw==3.2.1
idna==3.6
igraph==0.11.3
isodate==0.6.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
language-tags==1.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
rdflib==7.0.0
referencing==0.32.0
requests==2.31.0
rfc3986==1.5.0
rpds-py==0.13.2
six==1.16.0
texttable==1.7.0
uritemplate==4.1.1
urllib3==2.1.0
